html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #282828;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}

h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
}

.score-wrapper {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 4px;
}

.main-content-wrapper {
    background-color: #1d1d1d;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 5%;

    width: 100%;
}

.word-wrapper {
    margin: auto;
}

.button-containers-container {
    display: flex;
    align-items: center;

    margin: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
}

.quit-wrapper {
    margin: auto;
    padding: 4px;
}

#current-word {
    font-size: 30px;
}

#masc-button {
    background-color: #6badce;
    border: none;

    font-size: larger;
    font-family: 'Trebuchet MS';

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 80px;
    border-radius: 25%;

    transition: 333ms;
}

#masc-button:hover {
    filter: brightness(133%);
    width: 105px;
    height: 84px;
}

#masc-button:active {
    filter: brightness(66%);
    width: 100px;
    height: 80px;
}

#masc-icon {
    transition: 333ms;
}

#masc-button:hover #masc-icon{
    filter: brightness(33%);
}

#fem-button {
    background-color: #dd909c;
    border: none;

    font-size: larger;
    font-family: 'Trebuchet MS';

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 80px;
    border-radius: 25%;

    transition: 333ms;
}

#fem-button:hover {
    filter: brightness(133%);
    width: 105px;
    height: 84px;
}

#fem-button:active {
    filter: brightness(66%);
    width: 100px;
    height: 80px;
}

#fem-icon {
    transition: 333ms;
}

#fem-button:hover #fem-icon {
    filter: brightness(33%);
}

#neuter-button {
    background-color: #a1a1a1;
    border: none;

    font-size: larger;
    font-family: 'Trebuchet MS';

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 80px;
    border-radius: 25%;

    transition: 333ms;
}

#neuter-button:hover {
    filter: brightness(133%);
    width: 105px;
    height: 84px;
}

#neuter-button:active {
    filter: brightness(66%);
    width: 100px;
    height: 80px;
}

#neuter-icon {
    transition: 333ms;
}

#neuter-button:hover #neuter-icon{
    filter: brightness(33%);
}

.pack-button {
    background-color: #a1a1a1;
    border: none;

    font-size: larger;
    font-family: 'Trebuchet MS';

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 80px;
    border-radius: 25%;

    transition: 333ms;
}

.pack-button:hover {
    filter: brightness(133%);
    width: 105px;
    height: 84px;
}

.pack-button:active {
    filter: brightness(66%);
    width: 100px;
    height: 80px;
}

.pack-icon {
    transition: 333ms;
}

.pack-button:hover .pack-icon{
    filter: brightness(33%);
}
